<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Here</title>

    <!-- Tailwind -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- SweetAlert CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script>
      tailwind.config = {
        darkMode: "class",
        theme: {
          extend: {
            fontFamily: {
              inter: ["Inter", "sans-serif"],
            },
          },
        },
      };
    </script>
    <style>
      @import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

      .font-family-karla {
        font-family: karla;
      }
    </style>
  </head>

  <body class="bg-white font-family-karla h-screen">
    <div class="w-full flex flex-wrap">
      <!-- Login Section -->
      <div class="w-full md:w-1/2 flex flex-col">
        <div
          class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32"
        >
          <p class="text-center text-3xl">Welcome.</p>
          <form
            class="flex flex-col pt-3 md:pt-8"
            method="post"
            action="/login"
          >
            <div class="flex flex-col pt-4">
              <label class="text-lg">Username</label>
              <input
                required
                type="text"
                name="username"
                placeholder="Username"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
              />
            </div>

            <div class="flex flex-col pt-4">
              <label class="text-lg">Password</label>
              <input
                required
                type="password"
                name="password"
                placeholder="Password"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
              />
            </div>

            <input
              type="submit"
              value="Log In"
              class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8"
            />
          </form>
          <div class="text-center pt-12 pb-12">
            <p>
              Don't have an account?
              <a href="{{url_for('register')}}" class="underline font-semibold"
                >Register here.</a
              >
            </p>
          </div>
        </div>
      </div>
      <!-- Particles animation -->
      <div class="absolute inset-0 pointer-events-none" aria-hidden="true">
        <canvas data-particle-animation></canvas>
      </div>
      <!-- Image Section -->
      <div class="w-1/2 shadow-2xl">
        <img
          class="object-cover w-full h-screen hidden md:block"
          src="{{url_for('static', filename='assets/img/loginbg.png')}}"
        />
      </div>
    </div>
  </body>
  <script language="javascript" type="text/javascript">
    window.history.forward();
  </script>
 <script src="{{ url_for('static', filename='assets/js/particle-animation.js') }}"></script>
  <!-- SweetAlert JS -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.js"></script>
  {% if show_sweetalert %}
  <script>
    Swal.fire({
      title: "{{ text }}",
      icon: "{{ text_status }}",
    });
  </script>
  {% endif %}
</html>
