{% extends "Layout.html" %}
{% block content %}
        <div class="flex flex-col flex-1 w-full">
            <main class="h-full overflow-y-auto ">
                    <!--Table-->
                    <div class="w-full overflow-hidden rounded-lg shadow-lg mb-6 ">
                        <div class="w-full overflow-x-auto">
                        <h4 class="text-l text-white text-teal-500 uppercase font-bold p-3">--- All Items ---</h4>
                        <table class="w-full whitespace-no-wrap">
                            <thead>
                            <tr
                                class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                <th class="px-4 py-3">Student Num</th>
                                <th class="px-4 py-3">Name</th>
                                <th class="px-4 py-3">Item Name</th>
                                <th class="px-4 py-3">Date Claimed</th>
                            </tr>
                            </thead>
                            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                            <tr class="text-gray-700 dark:text-gray-400">
                                <td class="px-4 py-3">
                                <div class="flex items-center text-sm">
                                    <div>
                                    <p class="font-semibold">SUM-001</p>
                                    </div>
                                </div>
                                </td>
                                <td class="px-4 py-3 text-sm">
                                <span class=" text-gray-800">Ivan</span>
                                </td>
                                <td class="px-4 py-3 text-xs">
                                <span
                                    class="px-2 py-1 font-semibold leading-tight text-green-700 dark:text-green-100">
                                    Tumbler
                                </span>
                                </td>
                                <td class="px-4 py-3 text-sm">
                                6/10/2020
                                </td>
                            </tr>
            
                            <tr class="text-gray-700 dark:text-gray-400">
                                <td class="px-4 py-3">
                                <div class="flex items-center text-sm">
                                    <div>
                                    <p class="font-semibold">SUM-001</p>
                                    </div>
                                </div>
                                </td>
                                <td class="px-4 py-3 text-sm">
                                <span class=" text-gray-800">Ivan</span>
                                </td>
                                <td class="px-4 py-3 text-xs">
                                <span
                                    class="px-2 py-1 font-semibold leading-tight text-green-700 dark:text-green-100">
                                    Tumbler
                                </span>
                                </td>
                                <td class="px-4 py-3 text-sm">
                                6/10/2020
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
            </main>
        </div>
{% endblock %}