<!-- reset_password.html -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css"
/>
<form method="post" action="/reset_password/{{ token }}">
  <label>New Password:</label>
  <input type="password" name="new_password" required />
  <label>Confirm Password:</label>
  <input type="password" name="confirm_password" required />
  <button type="submit">Reset Password</button>
</form>
<!-- SweetAlert JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.js"></script>
{% if show_sweetalert %}
<script>
  Swal.fire({
    title: "{{ text }}",
    icon: "{{ text_status }}",
  });
</script>
{% endif %}
